---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}

        {% include pagination.html %}
        <div class="footer-navi">
            <a href="/archive.html"><i class="fa fa-archive"></i> 归档</a>　
            <a href="/tags"><i class="fa fa-tags"></i> 标签</a>
        </div>

        <div class="footer-navi">
            <a href="/archive.html"><i class="fa fa-archive"></i> 归档</a>　
            <a href="/tags"><i class="fa fa-tags"></i> 标签</a>
        </div>

        {% include comment.html %}

    </div>

    <div class="sidenav">

        <iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1082978753&verifier=57dda54a&dpc=1"></iframe>

        <a href="/rss.xml" class="rss">RSS订阅</a>
    </div>

    <div class="sidenav">
        <li><a href="/archive.html"><i class="fa fa-archive"></i> <strong>时间线</strong></a></li>
        
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog limit:15%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Opinion</h2>
        <ul class="artical-list">
        {% for post in site.categories.opinion limit:15%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Project</h2>
        <ul class="artical-list">
        {% for post in site.categories.project limit:15%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="back-top" title="返回顶部">
    <button class="btn btn-primary">
      <i class="fa fa-lg fa-chevron-up" style="color:#0e0e0e"></i>
    </button>
</div>

<script src="/js/post.js" type="text/javascript"></script>
